*, *::before, *::after {
    box-sizing: border-box;
  }
* {
    margin: 0;
    
}
@media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
}
@font-face {
    font-family: roboto-regular;
    src: url(fonts/Roboto-Regular.woff2);
    font-weight: normal;
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    background-color: white;
    font-family: roboto-regular;
    
}
img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}
input, button, textarea, select {
    font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}
p {
    text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
}
#root, #__next {
    isolation: isolate;
}


.container{
    display: grid;
    grid-template-columns: minmax(250px, 300px) 1fr 0.4fr;
    grid-template-rows: 150px 1fr;

}

section{
    padding: 10px;
}

.side-bar{
    display: grid;
    grid-template-rows: 80px 350px;
    justify-content: center;
    padding: 10px;
    background-color: #FFDCDC;
    grid-column: 1;
    width: max(250px,100%);
    height: max(100vh,100%);
    grid-row: 1 / 3 ;

}

h2{
    font-size: 1.5rem;
    font-family: roboto-regular;
}


.side-bar > ul{
    display: grid;
    list-style: none;
    position: sticky;
    top: 80px;
    padding: 0;
    align-content: flex-start;
    gap: 12px;
}

.side-bar li:nth-child(6){
    margin-bottom: 3rem;
}


.container-menu{
    display: grid;
    grid-column: 2 / 4;
    grid-row: 1;
    box-shadow: 0px 6px 4px 1px rgba(255,139,125,0.59);
    padding: 20px;
    background-color: #FFDCDC;
}

.menu ul{
    padding: 0;
}
.search-box{
    display: flex;
    align-items: center;
    grid-column: 1 / 2;
    margin-bottom: 15px;
    gap: 10px;
}

input{
    width: 100%;

}

.search-box > label img{
    width: clamp(0.4rem, 1.5rem, 3rem);
}
.menu{
    display: grid;
    grid-template-columns: 2fr 1fr ;
}


.menu-perfil{
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
    grid-template-rows: 1fr ;
    align-items: center;
    list-style: none;
    justify-content: center;
    grid-row: 2;
    grid-column:1;
}

.menu-op{
    display: grid;
    list-style: none;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu-op button{
    grid-row: 2;
}
.menu-op li:first-child{
    width: 50px;
    height: 40px;
    grid-column: 3;
    background-image: url(icons/desenho-de-gato-fofo-com-sinal-de-amor_454510-185.avif);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
}

.menu-op li:nth-child(2){
    grid-column: 4;
    align-self: center;
    font-weight: bolder;
    font-size: 1rem;
}


.menu-perfil li:first-child{
    width: 80px;
    height: 70px;
    background-image: url(icons/desenho-de-gato-fofo-com-sinal-de-amor_454510-185.avif);
    background-position: center;
    background-size: cover;
    border-radius: 100%;
    background-color: black;
}
.menu-perfil li:last-child{
    grid-area: 1 / 2 / 2/ 2;
}

.menu-button{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    align-items: center;
}

.menu-button button{
    background-color: white;
    cursor: pointer;
    border: 1px solid black;
}

.menu-button button:hover{
    background-color: #FFD6BA;
}

input{
    display: flex;
    grid-column: 2;
    border-radius: 10px;
    border: 1px solid #FFD6BA;
}

button{
    border-radius: 10px;
    border: 1px solid #FFD6BA;
    height: 2.1rem;

}

h1{
    display: flex;
    align-items: center;
    position: sticky;
    top: 10px;
    text-decoration: underline;
    align-self: flex-start;
    font-size: clamp(1.5rem, 3rem, 2rem);
}

h1 > img{
    display: inline-flex;
    width: clamp(1.5rem, 3rem, 3rem);
}

.container-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    padding: 10px;
}

.card{
    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: #FFD6BA;
    padding: 25px;
    border-radius: 8px;
    box-shadow: -12px 0px 0px 0px #FFB687;    ;
}
.card p {
    grid-column: 1 / 4;
    color: rgb(56, 55, 55);
}
.icons{
    display: flex;
    justify-content: center;
    gap: 20px;
    cursor: pointer;
    grid-column: 3 / 4;
    grid-row: 3;
}

.anuncios-card{
    display: grid;
    grid-column: 3;
    grid-row: 2 / 4;
    padding: 25px;
    font-size: 0.7rem;
    align-items: baseline;
}


.anuncios-card p:not(:last-child){
    display: grid;
    padding-bottom: 16px;
    border-bottom: 1px solid black;
}



.anuncios-card p{
    margin-bottom: 16px;
}

.menu-opcoes > li{
    display: inline-flex;
    
    gap: 1rem; 
}



li{
    font-size: clamp(0.5rem, 1.2rem, 3rem);
}

img{
    width: clamp(0.4rem, 1.2rem, 3rem);

}

